# Exploration Task

The data you are going to be using for this activity is information on different cars. We will be using this dataset in the workshop, but it is not in a currently usable format. Follow the steps below to inspect the dataset. We will later clean it together during the first workshop.

The dataset conatins various information about the cars which include:

* **index**: index of dataframe 
* **car**: car manufacturer 
* **model**: model of car 
* **mpg**: miles per gallon 
* **cyl**: number of cylinders 
* **disp**: displacement in cubic inches 
* **hp**: gross horsepower 
* **drat**: rear axle ratio 
* **wt**: weight in pounds 
* **qsec**: quarter mile time 
* **vs**: engine shape (`0`=V-shaped, `1`=straight) 
* **am**: transmission (`0`=automatic, `1`=manual) 
* **gear**: number of forward gears 
* **carb**: number of carburetors 
* **color**: car colour

In [2]:
# import pandas

import pandas as pd

In [3]:
# load the data

cars = pd.read_csv('Data/cars_features.csv')

In [4]:
cars.shape

(63, 17)

In [5]:
cars.head()

,index,car,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,model.1,color,code
0,0,Mazda,RX4,21.0,6.0,160.0,110.0,3.90,2.62 lbs,16.46,NaN,1.0,4.0,4.0,RX4,NaN,NK407
1,1,Mazda,RX4,21.0,6.0,160.0,110.0,3.90,2.875 lbs,17.02,NaN,1.0,4.0,4.0,RX4,NaN,CM144
2,2,Datsun,710,22.8,4.0,108.0,93.0,3.85,2.32 lbs,18.61,1.0,1.0,4.0,1.0,710,NaN,PA489
3,3,Hornet,4,21.4,6.0,258.0,110.0,3.08,3.215 lbs,19.44,1.0,0.0,3.0,1.0,4,NaN,QT333
4,4,harnet,Sportabout,18.7,8.0,360.0,175.0,3.15,3.44 lbs,17.02,NaN,0.0,3.0,2.0,Sportabout,NaN,GE476

## Inspect the Data

###  1. Use `.info()` to check each columns data type and for the number of nulls.

Are any columns looking like a concern?

In [6]:
#A: 
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    63 non-null     int64
 1   car      51 non-null     object
 2   model    48 non-null     object
 3   mpg      51 non-null     float64
 4   cyl      51 non-null     float64
 5   disp     51 non-null     float64
 6   hp       51 non-null     float64
 7   drat     51 non-null     float64
 8   wt       53 non-null     object
 9   qsec     51 non-null     float64
 10  vs       24 non-null     float64
 11  am       51 non-null     float64
 12  gear     51 non-null     float64
 13  carb     51 non-null     float64
 14  model.1  48 non-null     object
 15  color    0 non-null      float64
 16  code     53 non-null     object
dtypes: float64(11), int64(1), object(5)
memory usage: 8.5+ KB

### 2. Use `.describe()` to view summary statistics for each numeric column.

In [11]:
#A:
cars.describe()

,index,mpg,cyl,disp,hp,drat,qsec,vs,am,gear,carb,color
count,63.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,24.0,51.000000,51.000000,51.000000,0.0
mean,31.000000,19.898039,6.196078,234.890196,143.254902,3.532353,18.094314,1.0,0.294118,3.588235,2.666667,NaN
std,18.330303,5.402203,1.755216,119.582867,62.276109,0.497741,1.809919,0.0,0.460179,0.697896,1.451436,NaN
min,0.000000,10.400000,4.000000,71.100000,52.000000,2.760000,14.500000,1.0,0.000000,3.000000,1.000000,NaN
25%,15.500000,16.850000,4.000000,140.800000,97.000000,3.080000,17.020000,1.0,0.000000,3.000000,2.000000,NaN
50%,31.000000,19.200000,6.000000,225.000000,123.000000,3.690000,17.820000,1.0,0.000000,3.000000,2.000000,NaN
75%,46.500000,22.150000,8.000000,350.000000,180.000000,3.910000,19.455000,1.0,1.000000,4.000000,4.000000,NaN
max,62.000000,33.900000,8.000000,472.000000,335.000000,4.930000,22.900000,1.0,1.000000,5.000000,8.000000,NaN

### 3. Which columns would you say are categorical data? For each one, identify what the different values are.

In [21]:
#A:
cars.car.unique()
cars.model.unique()
# cars.wt.unique()
cars['model.1'].unique()
cars.code.unique()

array(['NK407', 'CM144', 'PA489', 'QT333', 'GE476', 'UQ518', 'JU158',
       'ZY947', 'RV570', 'RI375', 'AA111', 'KK680', 'CD409', 'SA187',
       'YQ492', 'CK385', 'EV614', '2.2', 'WX211', 'TE883', 'OG190',
       'WB412', 'SW983', 'YJ664', 'KJ693', 'MT547', 'US100', 'NP206',
       'PO301', 'BJ821', 'CW823', 'SY257', 'HR900', 'BO375', 'KO499',
       'HO389', 'IM524', 'CI332', 'ED379', 'TG748', 'PM575', 'GI755',
       'BO468', 'UW953', 'ZO456', 'OO924', 'RE316', 'WX733', 'MT127',
       'BD949', 'NI405', nan, 'nn'], dtype=object)

### 4. What is the most common number of forward gears?

In [12]:
#A:
cars.gear.mode()

0    3.0
Name: gear, dtype: float64

### 5. How many duplicate rows exist in this dataset?

In [32]:
#A:
cars.drop("index", axis=1).duplicated(keep=False).sum()

12