# Exploration Task

The data you are going to be using for this activity is information on different cars. We will be using this dataset in the workshop, but it is not in a currently usable format. Follow the steps below to inspect the dataset. We will later clean it together during the first workshop.

The dataset conatins various information about the cars which include:

* **index**: index of dataframe 
* **car**: car manufacturer 
* **model**: model of car 
* **mpg**: miles per gallon 
* **cyl**: number of cylinders 
* **disp**: displacement in cubic inches 
* **hp**: gross horsepower 
* **drat**: rear axle ratio 
* **wt**: weight in pounds 
* **qsec**: quarter mile time 
* **vs**: engine shape (`0`=V-shaped, `1`=straight) 
* **am**: transmission (`0`=automatic, `1`=manual) 
* **gear**: number of forward gears 
* **carb**: number of carburetors 
* **color**: car colour

In [1]:
# import pandas

import pandas as pd

In [2]:
# load the data

cars = pd.read_csv('Data/cars_features.csv')

In [3]:
cars.shape

(63, 17)

In [4]:
cars.head()

,index,car,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,model.1,color,code
0,0,Mazda,RX4,21.0,6.0,160.0,110.0,3.90,2.62 lbs,16.46,NaN,1.0,4.0,4.0,RX4,NaN,NK407
1,1,Mazda,RX4,21.0,6.0,160.0,110.0,3.90,2.875 lbs,17.02,NaN,1.0,4.0,4.0,RX4,NaN,CM144
2,2,Datsun,710,22.8,4.0,108.0,93.0,3.85,2.32 lbs,18.61,1.0,1.0,4.0,1.0,710,NaN,PA489
3,3,Hornet,4,21.4,6.0,258.0,110.0,3.08,3.215 lbs,19.44,1.0,0.0,3.0,1.0,4,NaN,QT333
4,4,harnet,Sportabout,18.7,8.0,360.0,175.0,3.15,3.44 lbs,17.02,NaN,0.0,3.0,2.0,Sportabout,NaN,GE476

## Inspect the Data

###  1. Use `.info()` to check each columns data type and for the number of nulls.

Are any columns looking like a concern?

In [ ]:
#A:

### 2. Use `.describe()` to view summary statistics for each numeric column.

In [ ]:
#A:

### 3. Which columns would you say are categorical data? For each one, identify what the different values are.

In [ ]:
#A:

### 4. What is the most common number of forward gears?

In [ ]:
#A:

### 5. How many duplicate rows exist in this dataset?

In [ ]:
#A: